footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    /* width: 10%; */
    right: 5%;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    padding: 0;
    color: white;
}

a {
    text-decoration: none;
}

a:hover {
    color: lightblue
}